.header__lang-link_en {
  align-self: flex-end;
  text-decoration: none;
  color: #ffffff;
}

@media (max-width: 767px) {
  .header__lang-link_en {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
  }
}
