.photo-grid__item {
  width: 284px;
}

@media (max-width: 1279px) {
  .photo-grid__item {
    width: 300px;
  }
}

@media (max-width: 1023px) {
  .photo-grid__item {
    width: 352px;
  }
}

@media (max-width: 767px) {
  .photo-grid__item {
    width: 288px;
  }
}
