.lead__title {
  margin: 0 0 32px;
  max-width: 720px;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  color: #ffffff;
}

@media (max-width: 767px) {
  .lead__title {
    margin: 0px 0px 16px;
    font-size: 40px;
    line-height: 44px;
  }
}
