.footer__links {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #ffffff;
}

@media (max-width: 767px) {
  .footer__links {
    display: block;
    margin-bottom: 48px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
  }
}
