.lead__caption {
  margin: 0;
  align-self: start;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 140%;
  /* identical to box height, or 140% */
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #ffffff;
  /* text-align: left; */
}
