.intro {
  padding-left: 148px;
  padding-top: 92px;
  max-width: 690px;
  align-self: flex-start;
}

@media (max-width: 1279px) {
  .intro {
    max-width: 690px;
    padding-left: 48px;
  }
}

@media (max-width: 1023px) {
  .intro {
    max-width: 720px;
    padding-left: 24px;
    padding-top: 88px;
  }
}

@media (max-width: 767px) {
  .intro {
    max-width: 288px;
    padding-left: 16px;
    padding-top: 64px;
  }
}
