.website {
  align-self: end;
  margin-bottom: 11px;
}

@media (max-width: 767px) {
  .website {
    padding-left: 16px;
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 32px;
    order: -1;
  }
}
