.place__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #ffffff;
  cursor: pointer;
}

.place__link:hover {
  color: #ffffff;
  opacity: 0.8;
}
