.cover__overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  min-height: 740px;
  background-repeat: no-repeat;
  position: relative;
  /* height: 100%; */
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  /* background-color: #2a2c2f;
  opacity: 0.3; */
  text-decoration: none;
  z-index: 0;
}

.cover__overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
  transition: 0.3s;
  z-index: -1;
}

.cover__overlay:hover::before {
  background-color: #2a2c2f;
  opacity: 0.8;
}
