.cover__overlay {
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  text-decoration: none;
  z-index: 0;
  cursor: pointer;
  position: relative;
  min-height: 740px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cover__overlay::after {
  content: "";
  position: absolute;
  background-color: #2a2c2f;
  opacity: 0.3;
  transition: background-color 0.3s;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.cover__overlay:hover::after {
  opacity: 0.8;
}

@media (max-width: 1279px) {
  .cover__overlay {
    min-height: 640px;
  }
}

@media (max-width: 1023px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media (max-width: 767px) {
  .cover__overlay {
    min-height: 200px;
  }
}
